@-moz-document domain("twitter.com") {
  :root {
    --bg-color: #1b1b1b;
    --fg-color: #9e9e9e;
    --secondary-bg-color: #262626;
    --secondary-fg-color: #616161;
    --highlight-color: #752a2a;
  }

  body, body:not(.edge-design), .ProfilePage, .AdaptiveSearchPage {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
  }

  *, .AdaptiveSearchTimeline .stream .stream-item:first-child .tweet {
    border-radius: unset !important;
  }

  /* TOP BAR */

  .global-nav-inner {
    background-color: var(--secondary-bg-color);
  }

  .bird-topbar-etched, .topbar-tweet-btn {
    display: none !important;
  }

  #user-dropdown-toggle, #user-dropdown-toggle::before, .Avatar, .search-input, .follow-button:focus {
    box-shadow: none;
  }

  #user-dropdown {
    margin: unset;
  }

  .ProfileCanopy-navBar, .search-input, .ProfileNav-item--userActions {
    background-color: var(--bg-color) !important;
  }

  .search-input {
    color: var(--fg-color) !important;
    border: none !important;
  }

  /* TIMELINE */

  .has-recap, .timeline-end, .caret-inner, .caret-outer, .ProfileCard .arrow, .Icon--verified::before, .Icon--close, .PermalinkOverlay-spinnerContainer, .pushstate-spinner, .ProfileNav-item--lists, .AdaptiveRelatedSearches, .LiveVideoHomePageModuleContainer, .PromptbirdPrompt, .ProfileClusterFollow, iframe {
    display: none !important;
  }

  .new-tweets-bar, .tweet, .ThreadedConversation, .inline-reply-tweetbox, .TwitterCard-container, .QuoteTweet, .typeahead-accounts, .dropdown-divider {
    border-color: var(--secondary-bg-color) !important;
  }

  .tweet:hover, #tweet-box-home-timeline, .new-tweets-bar:hover, .PermalinkOverlay .tweet-box, .edit-button, .ProfilePage-cancelButton, .ProfilePage-saveButton, .ProfileHeaderCardEditing, .DashboardProfileCard, .ProfileCard, .RetweetDialog-commentBox, .modal-overlay, .AdaptiveFiltersBar, .SidebarFilterModule, .PollXChoice-vote--button, .modal-body, .Tombstone, .PollXChoice-choice--chart, .follow-button > span {
    background-color: var(--secondary-bg-color) !important;
  }

  .tweet-box, .new-tweets-bar, .tweet, .stream-footer, .ThreadedConversation-moreReplies, .inline-reply-tweetbox, .ProfileHeading-content, .ProfilePage-editingOverlay, .ProfileHeaderCardEditing-editableField, .ColorPicker-hexInput, .BirthdateSelect-button, .BirthdateSelect-selectField, .hovercard, .dropdown-menu, .TwitterCard-container:hover, .profile-social-proof, .message, .modal-content, .modal-header, .missing-tweets-bar, .permalink, .t1-select, .Gallery-content, .caution-btn, .cancel-action, .dismiss-module, .follow-button:hover > span {
    background-color: var(--bg-color) !important;
  }

  .stream-footer .Icon, .follow-text .Icon, .twitter-atreply *, .user-dropdown:hover, .dropdown.open .plain-btn, .user-dropdown:focus, .Icon--verified, .twitter-hashtag *, .caution-btn {
    color: var(--highlight-color) !important;
  }

  .fullname, .QuoteTweet-fullname, #tweet-box-home-timeline, .tweet, .SummaryCard-content, .tweet-content, div[contenteditable="true"]:focus, .ProfileHeading-toggleItem.is-active, .edit-button, .ProfilePage-cancelButton, .ProfilePage-saveButton, .ProfileHeaderCardEditing-editableField, .tweet-text, .typeahead strong, .DashboardProfileCard, .ColorPicker-hexInput:focus, .cancel-action, .follow-button > span {
    color: var(--fg-color) !important;
  }

  .message, .ProfileHeaderCard .u-dir {
    color: var(--secondary-fg-color) !important;
  }

  .tweet-btn {
    color: var(--bg-color) !important;
  }

  .RichEditor, .stream-item, .stats, .avatar-row a, .timeline-tweet-box, .ProfileHeading-content, .edit-button, .ProfilePage-cancelButton, .ProfilePage-saveButton, .ProfileAvatar, .ProfileAvatarEditing, .ProfileHeaderCardEditing-editableField, .BirthdateSelect-button, .BirthdateSelect-selectField, .ProfileCard-avatarImage, .user-dropdown:focus, .DashboardProfileCard-avatarImage, .DashboardProfileCard-bg, .DashboardProfileCard, .ProfileCard, .ProfileCard-bg, .modal-header, .SidebarFilterModule, .t1-select, .block-section, .caution-btn, .cancel-action, .dismiss-module, .Tombstone {
    border: none !important;
  }

  .tweet-btn, .ProfilePage-saveButton, .user-dropdown:focus, .modal-content, .caution-btn, .cancel-action {
    box-shadow: none !important;
  }

  .edit-button, .ProfilePage-cancelButton, .PollXChoice-vote--button, .cancel-action {
    background-image: none !important;
  }

  .dropdown-menu, .hovercard, .edit-button:hover, .follow-button:hover > span {
    border: 1px solid var(--secondary-bg-color) !important;
  }

  .dropdown-menu, .hovercard, .edit-button, .PollXChoice-vote--button, .follow-button > span {
    border: 1px solid var(--bg-color) !important;
  }

  .ProfileCard-avatarLink, .DashboardProfileCard-avatarLink {
    background-color: #00000000;
  }

  .DashboardProfileCard-bg {
    padding: 0px;
    margin: 0px;
  }

  .content-main {
    margin-right: auto !important;
    margin-left: auto !important;
    position: absolute;
    right: 0;
    left: 0;
  }

  .ProfileHeaderCardEditing-bioRich .ProfileHeaderCardEditing-editableField {
    min-height: 30px !important;
  }

  .modal-overlay {
    opacity: 0.75;
  }

  /* Useless ads */

  .Trends, .wtf-module, .Footer, .WhoToFollow, .notifications, .dm-nav, .ProfileTweetbox, .ScrollBump--recentlyFollowed {
    display: none !important;
  }
}
