:root {
  --bg-color: #1b1b1b;
  --fg-color: #9e9e9e;
  --secondary-bg-color: #262626;
  --secondary-fg-color: #616161;
  --darkest-bg-color: #121212;
  --highlight-color: #752a2a;
  --secondary-highlight-color: #ac4142;
}

  @font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

.private-channel-recipients-invite .friend, .search-popout .option.selected::after, .friend-table-add-header, .search-popout .option::after, .connected-account-verified-icon, .channel.private:hover, .channel-arrow, #user-profile-modal .header, #user-profile-modal .guild:hover, .channel-members .member:hover, .clipboard-input-copied button, .is-local-bot-message, .cardPrimaryEditable-2IQ7-V, .headerNormal-1cioxU {
  background: unset !important;
}

.messages-wrapper, .chat > .content, .account, .channel-members, .scrollbar, .scrollbar .thumb, .scrollbar::after, .divider-red span, .search-bar, .typing, .connecting, .layer .content-region, .layer .sidebar-region, .layer .pad, .ui-button.filled:hover, .ui-checkbox.checked, .connect-account-btn-inner, .ui-tab-bar-item:active, .connect-account-btn-inner:hover, .modal-container .markdown-modal, .modal-container .markdown-modal-footer, .modal-container .markdown-modal-header, .modal-container .scroller-wrap, .modal-container .scrollbar .track, .popout-menu-item:hover, .themed-popout, .messages-popout-wrap .has-more button:hover, .mentioned .message-text, #user-profile-modal .scroller, .note textarea:focus, #user-profile-modal .empty, .context-menu, #user-profile-modal .btn.add-friend, .messages-wrapper .scrollbar .track, .context-menu .item-subMenu, .form-inner, .form-header, .form-actions, .form .btn-default, .form .btn-primary:hover, .popout, .channel-textarea-autocomplete-inner, .btn-item:hover, .private-channels, .messages .divider:not(.red) span, #friends, .friends-header, .friends-table, .friends-action, .private-channel-recipients-invite button, .upload-modal, .upload-modal .footer, .upload-modal .button, .upload-modal .button-primary:hover, .emoji-picker .scrollbar .track, .emoji-picker, .emoji-picker .sticky-header, .create-guild-container .join:hover .btn, .create-guild-container, .search-results-wrap, .search-results-wrap .channel-name, .emoji-picker .thumb, .private-channels .track, #friends .btn:hover, .add-friend-input-wrapper, .react-datepicker__day--disabled, .react-datepicker__day--outside-month, .Select-option.is-focused, .instant-invite-modal, .invite-button-icon, .deprecated-settings-modal .settings-inner, .deprecated-settings-modal .settings-actions, .ui-popout-list .ui-selectable-item:hover, .ui-standard-sidebar-view .btn-close, .checkbox-inner span, .slider-handle span, .region-select button:hover, .region-select-modal, .region-select-modal-option:hover, .jump-button, #rtc-connection, #rtc-connection-popout section, .emoji-picker .pad, .search-popout, .channel-textarea-guard button:hover, .message-group-blocked, .channels-wrap > div, .buttonBrandFilledDefault-2Rs6u5:hover, .scrollbar-2so3Ly, .pad-3D5tOh, .track-2Kex6E, .checked-2TahvT, .switch-3lyafC::before, .input-2YozMi, .message-group > .comment > div:not(.message), #user-profile-modal .track, .modal-3HOjGZ, .buttonRedFilledDefault-1TrZ9q:hover, .footer-1PYmcw, .selectorSelected-2M0IGv, .headerNormal-1cioxU, .footer-2J5zqP, .quickswitcher {
  background-color: var(--bg-color) !important;
}

.guild-header > header, .chat > .title-wrap, .account .btn, .channel-textarea-inner, .comment code.inline, .embed-color-pill, .embed, .ui-card, .ui-button.filled, .ui-tab-bar-item.selected, .popout-menu, .ui-audit-log-clickable .header, .ui-audit-log-change-details, .ui-search-bar, .themed-popout .header, .themed-popout .message-group, .messages-popout-wrap .has-more button, .jump-to-present-bar, .messages-popout .action-buttons, .message-group .markup pre code, .quick-message, #user-profile-modal .header, #user-profile-modal .tab-bar-container, #user-profile-modal .avatar-wrapper, #user-profile-modal .guild:hover, .context-menu .item:hover, #user-profile-modal .btn.add-friend:hover, .scrollbar .thumb:after, .new-messages-bar, .form .btn-primary, .channel-textarea-autocomplete-inner .active, .channel-textarea-autocomplete-inner header, .channel.private.selected a, .channel.private:hover a, .private-channels .btn-friends:hover a, .private-channels .btn-friends.selected a, .friends-column-separator, .friends-row:hover, .friends-action:hover, #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove:hover, .tab-bar-item-primary, .tab-bar-item.selected, .tab-bar-item:hover, .search-bar-tag, .private-channel-recipients-invite button:hover, .private-channel-recipients-invite .footer, .upload-modal .button-primary, .channel-members .member:hover, .search-bar.search-bar-light .search-bar-inner, .emoji-picker .emoji-item.selected, .create-guild-container .action, .guilds-wrapper .guild-inner, .search-popout .option.selected, .search-results-wrap .search-result .hit, .search-results-wrap .search-header, .search-answer, .search-filter, .has-more button, .divider:not(.divider-red) div, .option-popout, .emoji-picker .thumb, .private-channels .thumb, .icon-friends, #friends .btn, .bot-tag, .search-popout .date-picker .hint-value, .react-datepicker__header, .react-datepicker, .Select-control, .Select-menu-outer, #instant-invite-modal .clipboard-input-inner input, #instant-invite-modal .copy, .invite-button, .radio-inner, .ui-popout-list, .ui-popout-list .scrollbar .pad, .ui-popout-list .scrollbar .track, .ui-audit-log .header, .ui-hover-card::before, .slider-handle, .guilds-add, .join-server input, .region-select-inner, .region-select button, .avatar-uploader-inner, .region-select-modal-option, .jump-button:hover, .ui-settings-notice, .tooltip, #rtc-connection .btn, #rtc-connection-popout header, .message-group-blocked-btn, .channel-textarea-guard button, .contentSelectedText-3j5CXt, .contentHoveredText-2HYGIY, .cardPrimary-ZVL9Jr, .buttonBrandFilledDefault-2Rs6u5, .cardPrimaryEditable-2IQ7-V, .thumb-3VsfAI, .itemDefaultSelected-1UAWLe, .itemDefault-3NDwnY:hover, .switch-3lyafC, .bar-2cFRGz, .markDash-3j1QxS, .header-1tSljs, .buttonRedFilledDefault-1TrZ9q, .message-25xg43, .contentHoveredVoice-3qGNKh:active, .inner-3if5cm, .autocompleteInner-N7OQf1, .body-3rkFrF, .quickswitcher .big-input, .quickswitcher .result.selected {
  background-color: var(--secondary-bg-color) !important;
}

.slider-bar {
  background-color: var(--secondary-fg-color) !important;
}

.grabber-1TZCZi {
  background-color: var(--fg-color) !important;
}

.guilds-wrapper {
  background-color: var(--darkest-bg-color) !important;
}

.messages .divider.divider-red div, .mentioned .message-text::after, .badge, .checkbox input[type="checkbox"]:checked + span, .guild.selected::before, .guild.unread::before, .react-datepicker__day--today::after, :not(.react-datepicker__day--disabled).react-datepicker__day:hover, .invite-button-icon.accepted, .radio-inner span::after, .ui-popout-list .ui-selectable-item.selected, .slider-bar-fill, .unread-23Kvxk, .wrapper-2xO9RX, .switch-3lyafC.checked-7qfgSb, .barFill-18ABna {
  background-color: var(--highlight-color) !important;
}

.message-group .mention, .emoji-picker .dimmer.visible, .countdown-number, .channel-rrow:hover {
  background-color: #00000000 !important;
}

.comment .markup, .channel-textarea-inner textarea, .chat .channel-name, .guild-header span, .typing strong, .ui-button.filled, .messages-popout-wrap .has-more button, #user-profile-modal .discord-tag .username, #user-profile-modal .guild:hover, input#nickname, .btn-item:hover, .modal-content .form-inner p, .form .btn-primary, .tab-bar-item.selected, .tab-bar-item-primary, .channel-textarea-autocomplete-inner ul li, .emoji-picker .category, .upload-modal .button, .search-answer, .search-filter, .has-more button, body, .search-popout .date-picker .hint-value, .react-datepicker__day-name, .react-datepicker__current-month, .react-datepicker__day, .search-popout .option strong, .Select-placeholder, .Select-option, #instant-invite-modal .blurb, #instant-invite-modal .copy, #instant-invite-modal .clipboard-input-inner input, .deprecated-settings-modal .content label, .deprecated-settings-modal .content label::before, .control-group label, .notification-settings-modal-channel-settings-header label, .channel-arrow:hover, .slider-handle span, .guilds-add:hover, .join-server input, .create-guild-container h5, .create-guild-container #guild-name, .region-select button, .avatar-uploader-inner > *, .region-select-modal-header, .jump-button, .quick-message, .tooltip, #rtc-connection-popout header, .nameHoveredText-2FFqiz, .nameSelectedText-32NDX5, .nameUnreadText-1pxldj, .nameHoveredVoice-TIoHRJ, .nameSelectedVoice-XpjYTw, .ui-radiogroup .checked .info *, .font-scale-sample-large, .font-scale-sample-small, .textArea-20yzAH, .content-249Pr9 {
  color: var(--fg-color) !important;
}

.channel-arrow, .chat .topic, #user-profile-modal .discord-tag .discriminator, .btn-item, .connected-account-verified-icon::before, .react-datepicker__day--disabled, .guilds-add, .region-select-name, .nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .markValue-235z9M {
  color: var(--secondary-fg-color) !important;
}

.divider-red span {
  color: var(--highlight-color) !important;
}

.message-group a, .message-group .mention, .form header, .form label a, .form-header header, .join-server .sample-link {
  color: var(--secondary-highlight-color) !important;
}

.badge, :not(.react-datepicker__day--disabled).react-datepicker__day:hover, .ui-popout-list .ui-selectable-item.selected, .wrapper-2xO9RX {
  color: var(--bg-color) !important;
}

*, .guild.unread::before, .guild.selected::before, .scrollbar .thumb::after, .mentioned .message-text::after, .ui-hover-card::before {
  border-radius: unset !important;
}

.switch-3lyafC {
  border-radius: 14px !important;
}

.account .btn, .channel-textarea-inner, .embed, .title-wrap, .ui-checkbox.checked, .modal-container .markdown-modal-footer, .modal-container .markdown-modal-header, .ui-audit-log-clickable, .themed-popout .message-group, .message-group .markup pre, .quick-message, .form-header, .form-actions, .form .btn-default, .option-popout, .upload-modal .inner, .search-results-wrap .search-result .hit, .has-more button, #user-profile-modal .section + .section, #user-profile-modal .connected-account, .search-popout .search-query, .react-datepicker__navigation, .react-datepicker__current-month, .date-picker, .search-popout .date-picker-hint, .Select-control, .clipboard-input-inner, .invite-button, .invite-button-icon, .countdown-number, .deprecated-settings-modal .settings-actions, .ui-hover-card::before, .ui-standard-sidebar-view .btn-close, .join-server input, .region-select-inner, #rtc-connection .btn, .search-result.expanded, .body-3rkFrF, .avatarNormal-3luwna {
  border: unset !important;
}

.avatarStatus-1g8f0K {
  border-left: 3px solid #1b1b1b !important;
  border-top: 3px solid #1b1b1b !important;
  border-right: unset !important;
  border-bottom: unset !important;
}

.ui-text-input .input, .ui-radiogroup .ui-card.checked, input#nickname:focus, .checkbox input[type="checkbox"]:checked + span, .upload-modal .icon.image, .emoji-picker .selected, .invite-button-icon::before, .invite-button-icon.expired::after, .input-2YozMi:focus, .input-2YozMi:hover {
  border-color: var(--highlight-color) !important;
}

.guilds-add, .create-guild-container #guild-name:focus, .avatar-uploader-inner, .checkbox-1QwaS4 {
  border-color: var(--secondary-fg-color) !important;
}

.guilds-add:hover, .grabber-1TZCZi {
  border-color: var(--fg-color) !important;
}

.popout-menu-separator, .messages-popout-wrap .has-more button, #user-profile-modal .tab-bar-container, .channel-textarea-autocomplete-inner::after, .friends-header, .member .avatar-small .status, .react-datepicker__day, input[type="checkbox"]:checked + span::after, #instant-invite-modal .copy, .invite-button-icon.accepted::before, .channel-textarea-autocomplete-inner .status, .radio-inner, .account .status, .slider-handle, .private-channels .status, .checked-2TahvT, .container-iksrDt .status, .avatarStatus-3VdB8Y:hover {
  border-color: var(--bg-color) !important;
}

.themed-popout, .messages-popout-wrap .has-more button:hover, .context-menu, .channel-textarea-autocomplete-inner, .channel-textarea-autocomplete-inner header, .friends-table-header, .member:hover .avatar-small .status, .emoji-picker, .emoji-picker .diversity-selector .popout, input#nickname, .message-group:not(.has-divider), .Select-menu-outer, .checkbox-inner span, .channel-textarea-autocomplete-inner li.active .status, .channel-notification-settings, .slider-handle span, .create-guild-container #guild-name, .region-select-modal-option, #rtc-connection-popout hr, .private-channels .channel:hover .status, .private-channels .channel.selected .status, .message-group-blocked, .input-2YozMi, .body-3rkFrF, .header-toolbar .toolbar-badge, .avatarStatus-3VdB8Y {
  border-color: var(--secondary-bg-color) !important;
}

.ui-button.filled:hover, .form .btn-primary:hover, .private-channel-recipients-invite button, .friends-action, .upload-modal .button-primary:hover, #friends .btn:hover, .region-select button, .avatar-profile .status, .avatar-popout .status, #rtc-connection-popout, .search-popout, .channel-textarea-guard button, .buttonBrandFilledDefault-2Rs6u5:hover, .buttonRedFilledDefault-1TrZ9q, .userPopout-4pfA0d {
  border: 1px solid var(--secondary-bg-color) !important;
}

.connect-account-btn-inner:hover, .ui-button.filled, #user-profile-modal .btn.add-friend:hover, .form .btn-primary, .private-channel-recipients-invite button:hover, .friends-action:hover, .upload-modal .button-primary, #friends .btn, .jump-button, .ui-settings-notice, .tooltip, .buttonBrandFilledDefault-2Rs6u5 {
  border: 1px solid var(--bg-color) !important;
}

.mentioned .message-text::after {
  border-left: 2px solid var(--highlight-color) !important;
}

.private.channel.selected::before {
  border-left: 3px solid var(--highlight-color) !important;
}

.private:not(.selected).channel:before {
  border-left: 3px solid var(--secondary-fg-color) !important;
}

.connecting-inner, .ui-tab-bar-item.brand, .ui-tab-bar-item.brand+.ui-tab-bar-separator, .modal-container .markdown-modal-close, .ui-audit-log-clickable .divider, #user-profile-modal .header:after, .messages-popout-wrap .jump-button, .btn-download-apps, .or, .search-results-wrap .search-result::before, .search-results-wrap .search-result::after, .search-popout .keybind-shortcut, .search-popout .results-group::before, .clipboard-input-inner button:first-of-type::before, .ui-standard-sidebar-view .btn-close .background > :first-child, .ui-standard-sidebar-view .esc-text, .slider-handle span::after, .slider-handle span::before, .channel-notice, .tooltip::after, #rtc-connection-popout section::before, #rtc-connection-popout section::after, .itemBrand-mC9YR4, .itemBrand-mC9YR4 + .separator-3z7STW, .quickswitcher .tips, .quickswitcher .results-scroller-outer::before {
  display: none !important;
}

.header-toolbar .separator + button + button {
  visibility: hidden !important;
}

.guild-header header, .title-wrap, .messages-popout .action-buttons, .search-results-wrap .search-result .hit, .badge, .avatar-popout .status, .notification-settings-modal-channel-settings-list, .is-local-bot-message, .wrapper-2xO9RX, .focused-1rg4X4, .switch-3lyafC::before, .message-25xg43 {
  box-shadow: none !important;
}

:not(.selected).channel a, .private-channels .channel-name {
  opacity: unset !important;
}

.divider div {
  opacity: 0.75 !important;
}

.header-toolbar button.active span {
  opacity: 0.5 !important;
}

.header-toolbar button span {
  opacity: 0.3 !important;
}

.ui-radiogroup .ui-card.checked polyline, #rtc-connection-popout g > :last-child {
  stroke: var(--highlight-color) !important;
}

.ui-popout-list polyline {
  stroke: var(--bg-color) !important;
}

#rtc-connection-popout g > :first-child {
  fill: var(--highlight-color) !important;
}

.attachButtonForeground-3VZiXQ {
  fill: var(--fg-color) !important;
}

.container-iksrDt, .guild.selected::before, .guild.unread::before, .avatarHint-2i5XWK {
  margin: unset !important;
}

.avatarHint-2i5XWK {
  width: 100% !important;
  height: 100% !important;
}

.channel-arrow {
  text-align: center !important;
}

.change-log .scrollbar {
  overflow-y: hidden !important;
}

.title-wrap {
  min-height: 56px !important;
}

.upload-modal .button:hover {
  text-decoration: none !important;
}

.avatar-profile .status {
  height: 20px !important;
  width: 20px !important;
  margin: 3px !important;
}

.avatar-popout .status {
  height: 15px !important;
  width: 15px !important;
  margin: 2px !important;
}

.guild.selected::before, .guild.unread::before {
  width: 9px !important;
}

.guild.selected::before {
  top: unset !important;
  height: 100% !important;
}

.guild.unread:not(.selected)::before {
  top: 35% !important;
  height: 30% !important;
}

.connected-account-verified-icon::before, .channel-arrow::before {
  font-family: "FontAwesome";
}

.connected-account-verified-icon::before {
  font-style: normal;
  content: "\f058";
}

.channel-arrow::before {
  content: "\f054";
}

.react-datepicker__day--outside-month {
  font-weight: unset !important;
}

#instant-invite-modal, #instant-invite-modal-advanced {
  width: 500px !important;
}

.chat > .title-wrap > .title .channel-name {
  line-height: 25px !important;
}

/* Fix non-centered message input area */
.inner-3if5cm {
  align-items: center !important;
}

.attachButtonDivider-3tknGJ {
  height: unset !important;
}

.emojiButton-38mF6t {
  padding-right: 20px !important;
  position: unset !important;
}

/* Don't ask me why but this needs two separate statements */
::-moz-selection {
  background-color: var(--highlight-color) !important;
  color: var(--bg-color) !important;
}

::selection {
  background-color: var(--highlight-color) !important;
  color: var(--bg-color) !important;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--bg-color) !important;
  border: unset !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-color) !important;
  border-radius: unset !important;
  border-color: var(--bg-color) !important;
}
