:root {
  --bg-color: #1b1b1b;
  --fg-color: #9e9e9e;
  --secondary-bg-color: #262626;
  --secondary-fg-color: #616161;
  --highlight-color: #752a2a;
  --upvote-color: #90a959;
  --downvote-color: #ac4142;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

* {
  border-radius: unset !important;
}

body, .tabmenu a, .side, .spacer, .titlebox form.toggle, #header-bottom-right, .multi-name, .multi-list a, .trophy-area .content, .gold-accent, .modal-content, .usertext-body, .interstitial-subreddit-description, .entry, .drop-choices a.choice:hover {
  background-color: var(--bg-color) !important;
}

.linkflairlabel, #header, code, textarea, .morelink a, .link .usertext-body .md, .md pre, .linkinfo, #search input, .infobar, .usertext button, .multi-selector, .multi-list label, .subscribe-button a, .flair, .nextprev a, .expando-button, .reddit-infobar, .modal-content .buttons a, .roundfield, .white-field, .hover-bubble, .md hr, .c-btn-primary, .c-btn-primary:hover, .c-btn-primary:focus, .drop-choices, .happening-now {
  background-color: var(--secondary-bg-color) !important;
}

.happening-now .state::before {
  background-color: var(--highlight-color) !important;
}

body, .unvoted, .md, textarea, .multi-selector .title strong, .multi-list label, .trophy-name, .thing .title, a:hover, .tabmenu li.selected a, .hover-bubble, .c-btn-primary, .search-result :link, .search-result :link > mark, .combined-search-page #search input, .drop-choices a, .happening-now {
  color: var(--fg-color) !important;
}

.md blockquote, .flair, a, .c-btn-primary:hover, .c-btn-primary:focus, .title > a:visited, .search-result :visited > mark, .search-expando-button {
  color: var(--secondary-fg-color) !important;
}

.nsfw-stamp, .comment .md a {
  color: var(--highlight-color) !important;
}

.upmod, .score.likes {
  color: var(--upvote-color) !important;
}

.downmod, .score.dislikes {
  color: var(--downvote-color) !important;
}

.linkflairlabel, #header, .tabmenu a, code, textarea, .content, .morelink, .link .usertext-body .md, .md pre, .linkinfo, input, .infobar, .usertext button, .multi-selector, .multi-name, .multi-list a, .subscribe-button a, .gold-accent, .flair, .nextprev a, .link.last-clicked, .menuarea, .nextprev .separator, .reddit-infobar, .modal-content .buttons a, .hover-bubble, .c-btn-primary, .entry, .search-result-group-header, .happening-now {
  border: none !important;
}

textarea, .drop-choices {
  border: 1px solid var(--bg-color) !important;
}

.md th, .md td, .footer, .footer .col, .developed-app, .authorized-app  {
  border-color: var(--secondary-bg-color) !important;
}

.listing-chooser, #sr-header-area, .nub, .multi-selector:before, .multi-selector:after, .rank, .beta-link, .archived-infobar:before, .interstitial-image, .modal, .users-online:before, .hover-bubble:before, .hover-bubble:after, .goldvertisement, .search-expando.collapsed::before, .search-result-icon, .midcol-spacer, .happening-now-logo, .deepthread::after {
  display: none !important;
}

textarea {
  padding: 7px;
}

.subscribe-button a, .expando-button, .arrow, .thumbnail.default, .thumbnail.nsfw, .thumbnail.image, .thumbnail.self, #header-img, video.preview {
  background-image: none !important;
}

.comment .child {
  border-left: 1px solid var(--secondary-bg-color) !important;
}

/* Add Hghlight line to top bar */
#header-bottom-left {
  border-bottom: 2px solid var(--highlight-color) !important;
}

.tabmenu li a {
 border-bottom: 2px solid var(--bg-color) !important;
}

#header-img, .expando-button, .arrow, .thumbnail.default, .thumbnail.nsfw, .thumbnail.image, .thumbnail.self {
  font-family: "FontAwesome";
}

.expando-button, .arrow, .thumbnail.default, .thumbnail.nsfw, .thumbnail.image, .thumbnail.self, .modal.in {
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.arrow.down, .arrow.downmod {
  margin-top: unset;
}

.modal-dialog, #header-img {
  margin: unset !important;
}

.happening-now {
  margin-bottom: 10px !important;
}

.expando-button {
  font-size: 15px;
}

.thumbnail.default:before, .thumbnail.nsfw:before, .thumbnail.image:before, .thumbnail.self:before {
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.expando-button.video.collapsed:before {
  content: "\f04b";
}

.expando-button.selftext.collapsed:before {
  content: "\f0c9";
}

.expando-button.expanded:before {
  content: "\f00d";
}

.arrow.up:before, .arrow.upmod:before {
  content: "\f077";
}

.arrow.down:before, .arrow.downmod:before {
  content: "\f078";
}

.thumbnail.default:before {
  content: "\f0c1";
}

.thumbnail.nsfw:before {
  content: "\f2a8";
}

.thumbnail.image:before {
  content: "\f03e";
}

.thumbnail.self:before {
  content: "\f15c";
}

#header-img {
  text-indent: unset !important;
  padding: 5px 0px 5px 0px;
  width: 75px !important;
  text-align: center;
  font-size: 0px;
}

#header-img:before {
  content: "\f281";
  font-size: 35px;
}

.archived-infobar {
  padding: 10px !important;
}
