:root {
  --bg-color: #1b1b1b;
  --fg-color: #9e9e9e;
  --secondary-bg-color: #262626;
  --secondary-fg-color: #616161;
  --darkest-bg-color: #121212;
  --highlight-color: #752a2a;
}

/* The usual */
* {
  border-radius: unset !important;
}

/* Main page */
body {
  color: var(--fg-color) !important;
  background-color: var(--bg-color) !important;
}

a {
  color: var(--secondary-fg-color) !important;
}

/* Content header */
.in-band, .small-section-header {
  background-color: var(--bg-color) !important;
  color: var(--fg-color) !important;
}

/* Separators */
.section-header, h1.fqn, .small-section-header,
h2, h3:not(.impl):not(.method):not(.type):not(.tymethod), h4:not(.method):not(.type):not(.tymethod) {
  border-bottom-color: var(--secondary-bg-color) !important;
}

/* Separator labels */
h1, h2, h3:not(.impl):not(.method):not(.type):not(.tymethod), h4:not(.method):not(.type):not(.tymethod) {
  color: var(--secondary-fg-color) !important;
}

/* Highlighted element */
:target {
  background-color: var(--secondary-bg-color) !important;
}

/* Codeblocks */
pre {
  background-color: var(--secondary-bg-color) !important;
}

/* Inline Codeblocks */
:not(.in-band):not(.invisible) > code {
  color: var(--secondary-fg-color) !important;
  background-color: var(--secondary-bg-color) !important;
}

/* Sidebar */
.sidebar, .location {
  background-color: var(--secondary-bg-color) !important;
}

.sidebar a:not(.current), .sidebar a.crate {
  color: var(--secondary-fg-color) !important;
}

.location, .sidebar h3 {
  color: var(--fg-color) !important;
  border: unset !important;
}

/* Sidebar selection */
.block a:hover, .sidebar .current {
  background-color: var(--bg-color) !important;
}

/* Search bar */
.search-input {
  background-color: var(--secondary-bg-color) !important;
  box-shadow: unset !important;
}

nav {
  border: unset !important;
}

/* Search */
#search > h1 {
  color: var(--fg-color) !important;
}

.result.highlighted {
  background-color: var(--secondary-bg-color) !important;
}

.result.highlighted span {
  color: var(--secondary-fg-color) !important;
}

/* docs.rs navigator */
.nav-container, .pure-menu-item, .pure-menu-link:focus, .pure-menu-children {
  border: unset !important;
  background-color: var(--secondary-bg-color) !important;
}

.nav-container .pure-menu-link:hover {
  color: var(--fg-color) !important;
}

.pure-menu-children {
  border: 1px solid var(--bg-color) !important;
}

.package-details-menu * {
  border-color: var(--bg-color) !important;
}

/* docs.rs crate search */
.search-input-nav {
  color: var(--secondary-fg-color) !important;
  text-align: left !important;
  padding: 5px !important;
}

/* Syntax colors outside of codeblocks */
.content span.struct, .content a.struct, .block a.current.struct {
  color: #6a9fb5 !important;
}

.content span.trait, .content a.trait, .block a.current.trait {
  color: #75b5aa !important;
}

.content span.fn, .content a.fn, .block a.current.fn, .content span.method, .content a.method, .block a.current.method, .content span.tymethod, .content a.tymethod, .block a.current.tymethod, .content .fnname {
  color: #ac4142 !important;
}

.content span.enum, .content a.enum, .block a.current.enum {
  color: #90a959 !important;
}

.content span.primitive, .content a.primitive, .block a.current.primitive {
  color: #aa759f !important;
}

.content span.externcrate, .content span.mod, .content a.mod, .block a.current.mod {
  color: #aa759f !important;
}

.content span.type, .content a.type, .block a.current.type {
  color: #f4bf75 !important;
}

/* Syntax colors inside codeblocks */
pre.rust .kw {
  color: #aa759f !important;
}

pre.rust .self, pre.rust .bool-val, pre.rust .prelude-val, pre.rust .attribute, pre.rust .attribute .ident {
  color: #ac4142 !important;
}

pre.rust .kw-2, pre.rust .prelude-ty {
  color: #6a9fb5 !important;
}

pre.rust .number, pre.rust .string {
  color: #90a959 !important;
}

pre.rust .macro, pre.rust .macro-nonterminal {
  color: #75b5aa !important;
}

/* doc.rust-lang.org search results */
.result.highlighted a {
  color: var(--fg-color) !important;
}

/* Warnings/Info */
.stab {
  color: var(--bg-color) !important;
  border: unset !important;
}

.stab :not(.in-band):not(.invisible) > code {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: var(--bg-color) !important;
}

.stab.unstable {
  background-color: #f4bf75 !important;
}

.stab.portability {
  background-color: #6a9fb5 !important;
}

.stab.deprecated {
  background-color: #aa759f !important;
}

/* docs.rs "Find crate" dialog */
.search-input-nav {
  background-color: var(--bg-color) !important;
  color: var(--secondary-fg-color) !important;
}

/* doc.rust-lang.org tppe/parameter/return switch */
#search > #titles > div.selected, #search > #titles > div:hover {
  border-color: var(--highlight-color) !important;
}

#search > #titles > div:not(.selected):not(:hover) {
  border: unset !important;
}

/* docs.rs outside of docs */
.pure-button {
  background-color: var(--secondary-bg-color) !important;
  color: var(--fg-color) !important;
  border: unset !important;
}

.pure-menu-active {
  background-color: var(--secondary-bg-color) !important;
  border: 2px solid var(--secondary-bg-color) !important;
}

.release {
  border-color: var(--secondary-bg-color) !important;
}

.release:hover {
  background-color: var(--secondary-bg-color) !important;
}

.release .name {
  color: var(--secondary-fg-color) !important;
}

.release .description, .release .date {
  color: var(--fg-color) !important;
}

.cratesfyi-package-container {
  background-color: var(--bg-color) !important;
  border: unset !important;
}

.cratesfyi-package-container * {
  color: var(--fg-color) !important;
}
