:root {
  --bg-color: #181818;
  --fg-color: #aaaaaa;
  --secondary-bg-color: #282828;
  --secondary-fg-color: #666666;
  --highlight-color: #752a2a;
  --secondary-highlight-color: #ac4242;
  --red: #ac4242;
  --green: #90a959;
  --yellow: #f4bf75;
  --blue: #6a9fb5;
  --magenta: #aa759f;
  --cyan: #75b5aa;
}
