:root {
  --bg-color: #111111;
  --fg-color: #bbbbbb;
  --secondary-bg-color: #222222;
  --secondary-fg-color: #888888;
  --highlight-color: #752a2a;
  --red: #ac4142;
  --green: #90a959;
  --yellow: #f4bf75;
  --blue: #6a9fb5;
  --magenta: #aa759f;
  --cyan: #75b5aa;
}
