.tab-background[selected="true"],
.tabbrowser-tab:hover .tab-background,
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"]),
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"]) > .toolbarbutton-icon {
  background: var(--bg-color) !important;
}

#TabsToolbar {
  background: var(--secondary-bg-color) !important;
}

.tabbrowser-tab:hover:not([selected="true"]) .tab-line {
  background: var(--highlight-color) !important;
}

.tab-text {
  color: var(--fg-color) !important;
}

.tabbrowser-tab:hover:not([selected="true"]) .tab-background,
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"]) {
  opacity: .5 !important;
}

.tab-background {
  border: unset !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  border-color: var(--bg-color) !important;
  border-image: unset !important;
}
