.autocomplete-richlistitem:not([selected="true"]):not(hover) .ac-url,
.autocomplete-richlistitem:not([selected="true"]):not(hover) .ac-separator,
.autocomplete-richlistitem:not([selected="true"]):not(hover) .ac-action {
  color: var(--secondary-fg-color) !important;
}

.autocomplete-richlistitem:not([selected="true"]):not(hover) {
  color: var(--fg-color) !important;
}

.autocomplete-richlistitem:hover *,
.autocomplete-richlistitem[selected="true"] {
  color: var(--bg-color) !important;
}

.autocomplete-richlistitem,
#PopupAutoCompleteRichResult {
  background-color: var(--bg-color) !important;
}

.autocomplete-richlistitem:hover,
.autocomplete-richlistitem[selected="true"] {
  background-color: var(--highlight-color) !important;
}

#PopupAutoCompleteRichResult {
  border-bottom: 1px solid var(--secondary-bg-color) !important;
  border: unset !important;
}
