@-moz-document url-prefix("file:///") {
  a {
    color: var(--secondary-fg-color) !important;
  }

  h1 {
    border-color: var(--secondary-bg-color) !important;
  }

  html, body {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
    border: unset !important;
  }

  body > table > tbody > tr:hover {
    outline-color: var(--secondary-bg-color) !important;
  }
}
