@-moz-document regexp("file:///.*/target/doc/.*"), domain("docs.rs"), domain("doc.rust-lang.org") {
  /* The usual */
  * {
    border-radius: unset !important;
  }

  /* Main page */
  body {
    color: var(--fg-color) !important;
    background-color: var(--bg-color) !important;
  }

  a {
    color: var(--secondary-fg-color) !important;
  }

  /* Content header */
  .in-band, .small-section-header {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
  }

  /* Separators */
  .section-header, h1.fqn, .small-section-header,
  h2, h3:not(.impl):not(.method):not(.type):not(.tymethod), h4:not(.method):not(.type):not(.tymethod) {
    border-bottom-color: var(--secondary-bg-color) !important;
  }

  /* Separator labels */
  h1, h2, h3:not(.impl):not(.method):not(.type):not(.tymethod), h4:not(.method):not(.type):not(.tymethod) {
    color: var(--secondary-fg-color) !important;
  }

  /* Highlighted element */
  :target, :target > * {
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--highlight-color) !important;
  }

  /* Codeblocks */
  pre {
    background-color: var(--secondary-bg-color) !important;
  }

  /* Inline Codeblocks */
  :not(.in-band):not(.invisible) > code {
    color: var(--secondary-fg-color) !important;
    background-color: var(--secondary-bg-color) !important;
  }

  /* Sidebar */
  .sidebar, .location {
    background-color: var(--secondary-bg-color) !important;
  }

  .sidebar a:not(.current), .sidebar a.crate {
    color: var(--secondary-fg-color) !important;
  }

  .location, .sidebar h3 {
    color: var(--fg-color) !important;
    border: unset !important;
  }

  /* Sidebar selection */
  .block a:hover, .sidebar .current {
    background-color: var(--bg-color) !important;
  }

  /* Search bar */
  .search-input {
    background-color: var(--secondary-bg-color) !important;
    color: var(--fg-color) !important;
    box-shadow: unset !important;
  }

  nav {
    border: unset !important;
  }

  #theme-picker, #settings-menu, #help-button {
      background-color: var(--secondary-bg-color) !important;
      border-color: var(--bg-color) !important;
      color: var(--fg-color) !important;
  }

  /* Search */
  #search > h1 {
    color: var(--fg-color) !important;
  }

  .result.highlighted {
    background-color: var(--secondary-bg-color) !important;
  }

  .result.highlighted span {
    color: var(--secondary-fg-color) !important;
  }

  .search-results a:hover {
      background-color: var(--secondary-bg-color) !important;
  }

  /* docs.rs navigator */
  .nav-container, .pure-menu-item, .pure-menu-link:focus, .pure-menu-children {
    border: unset !important;
    background-color: var(--secondary-bg-color) !important;
  }

  .nav-container .pure-menu-link:hover {
    color: var(--fg-color) !important;
  }

  .pure-menu-children {
    border: 1px solid var(--bg-color) !important;
  }

  .package-details-menu * {
    border-color: var(--bg-color) !important;
  }

  #nav-search {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
  }

  #search-input-nav {
    border: unset !important;
  }

  /* Syntax colors outside of codeblocks */
  .content span.struct, .content a.struct, .block a.current.struct {
    color: var(--blue) !important;
  }

  .content span.trait, .content a.trait, .block a.current.trait {
    color: var(--cyan) !important;
  }

  .content span.fn, .content a.fn, .block a.current.fn, .content span.method, .content a.method, .block a.current.method, .content span.tymethod, .content a.tymethod, .block a.current.tymethod, .content .fnname {
    color: var(--red) !important;
  }

  .content span.enum, .content a.enum, .block a.current.enum {
    color: var(--green) !important;
  }

  .content span.primitive, .content a.primitive, .block a.current.primitive, .content span.externcrate, .content span.mod, .content a.mod, .block a.current.mod {
    color: var(--magenta) !important;
  }

  .content span.type, .content a.type, .block a.current.type {
    color: var(--yellow) !important;
  }

  /* Syntax colors inside codeblocks */
  pre.rust .kw {
    color: var(--magenta) !important;
  }

  pre.rust .self, pre.rust .bool-val, pre.rust .prelude-val, pre.rust .attribute, pre.rust .attribute .ident {
    color: var(--red) !important;
  }

  pre.rust .kw-2, pre.rust .prelude-ty {
    color: var(--blue) !important;
  }

  pre.rust .number, pre.rust .string {
    color: var(--green) !important;
  }

  pre.rust .macro, pre.rust .macro-nonterminal {
    color: var(--cyan) !important;
  }

  /* doc.rust-lang.org search results */
  .result.highlighted a {
    color: var(--fg-color) !important;
  }

  /* Warnings/Info */
  .stab {
    color: var(--bg-color) !important;
    border: unset !important;
  }

  .stab :not(.in-band):not(.invisible) > code {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: var(--bg-color) !important;
  }

  .stab.unstable {
    background-color: var(--yellow) !important;
  }

  .stab.portability {
    background-color: var(--blue) !important;
  }

  .stab.deprecated {
    background-color: var(--magenta) !important;
  }

  /* doc.rust-lang.org tppe/parameter/return switch */
  #search > #titles > div.selected, #search > #titles > div:hover {
    border-color: var(--highlight-color) !important;
  }

  #search > #titles > div:not(.selected):not(:hover) {
    background: transparent !important;
    border: unset !important;
  }

  #titles > button:hover, #titles > button.selected {
      border-color: var(--highlight-color) !important;
  }

  /* docs.rs outside of docs */
  .pure-button {
    background-color: var(--secondary-bg-color) !important;
    color: var(--fg-color) !important;
    border: unset !important;
  }

  .pure-menu-active {
    background-color: var(--secondary-bg-color) !important;
    border: 2px solid var(--secondary-bg-color) !important;
  }

  .release {
    border-color: var(--secondary-bg-color) !important;
  }

  .release:hover {
    background-color: var(--secondary-bg-color) !important;
  }

  .release .name {
    color: var(--secondary-fg-color) !important;
  }

  .release .description, .release .date {
    color: var(--fg-color) !important;
  }

  .cratesfyi-package-container {
    background-color: var(--bg-color) !important;
    border: unset !important;
  }

  .cratesfyi-package-container * {
    color: var(--fg-color) !important;
  }

  #all-types {
    background-color: var(--bg-color) !important;
    border-color: var(--bg-color) !important;
  }

  .theme-picker {
    display: none;
  }

  #crate-search {
    background: var(--secondary-bg-color) !important;
    border-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
    box-shadow: none !important;
    background-blend-mode: exclusion;
  }

  #settings-menu {
    background: var(--bg-color) !important;
    border: none !important;
  }

  #settings-menu img {
    filter: invert(.5);
  }

  .slider {
    background-color: var(--secondary-bg-color) !important;
  }

  .slider::before {
    background-color: var(--highlight-color) !important;
  }

  input:checked + .slider {
    background-color: var(--highlight-color) !important;
  }

  input:checked + .slider::before {
    background-color: var(--secondary-bg-color) !important;
  }

  .setting-line > .title {
    border-bottom-color: var(--secondary-bg-color) !important;
  }

  .sidebar .version {
    border-bottom-color: var(--bg-color) !important;
  }

  /* Help popup */
  #help > div, #help span.bottom, #help span.top {
      background-color: var(--bg-color) !important;
      border-color: var(--secondary-bg-color) !important;
  }

  kbd {
      background-color: var(--secondary-bg-color) !important;
      border-color: var(--bg-color) !important;
      color: var(--fg-color) !important;
  }
}
