/* Bar at the bottom that opens when pressing Ctrl+F */

.findbar-container {
  background: var(--secondary-bg-color);
}

/* Text input */
.findbar-textbox {
  background: var(--bg-color) !important;
  color: var(--fg-color) !important;
  border: none !important;
}

/* Previous/Next match buttons */
.findbar-find-previous, .findbar-find-next {
  background: var(--secondary-bg-color) !important;
  outline: none !important;
  border: none !important;
}

/* Option buttons */
.findbar-button[checked="true"] {
  background-color: var(--bg-color) !important;
}

.findbar-button:not([checked="true"]):hover {
  background-color: var(--secondary-bg-color) !important;
}

.findbar-button {
  color: var(--fg-color) !important;
  outline: none !important;
}

/* Close button */
.findbar-closebutton {
  background: var(--secondary-bg-color);
}
