/* Border radius */
:root {
    --tab-border-radius: 0 !important;
}

/* Reduce tab size */
:root {
    --tab-min-height: 30px !important;
}

/* Connect tabs to urlbar */
tab {
    padding: 0 !important;
}

tab vbox {
    margin: unset !important;
}

/* Colors */
.tabbrowser-tab:hover .tab-background:not([selected="true"], [multiselected]) {
    border-top: 2px solid var(--highlight-color) !important;
}

.tab-background[multi-selected="true"], .tab-background[selected="true"] {
    border-top: 2px solid var(--highlight-color) !important;
}

/* Remove left separator from leftmost tab */
#tabbrowser-tabs {
    padding-left: unset !important;
    margin-left: unset !important;
    border: unset !important;
}
