.urlbarView-row:not([selected]) .urlbarView-url, .urlbarView-row:not([selected]) .urlbarView-action {
  color: var(--secondary-fg-color) !important;
}

.urlbarView-row[selected] .urlbarView-url, .urlbarView-row[selected] .urlbarView-action {
  color: var(--bg-color) !important;
}

.urlbarView-row[selected] {
  background: var(--highlight-color) !important;
}

.urlbarView-row:not([selected]):hover {
  background: var(--secondary-bg-color);
}

#urlbarView-results {
  background: var(--bg-color);
}

.urlbarView-row:not([selected]) .urlbarView-title {
  color: var(--fg-color);
}
