/* Hide bookmarks toolbar */
#PersonalToolbar {
    display: none !important;
}

#urlbar[breakout][breakout-extend] {
  width: var(--urlbar-width) !important;
  margin-left: unset !important;
  margin-top: var(--urlbar-padding-block) !important;
}

#urlbar-background {
    box-shadow: none !important;
}

.urlbarView-body-inner {
    border: unset !important;
}

.urlbarView-row {
    padding: 0px !important;
}

/* Hide garbage */
#tracking-protection-icon-container, #star-button-box {
    display: none !important;
}

/* Colors */
.urlbarView-url {
    color: var(--fg-color) !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}

#alltabs-button {
    display: none !important;
}
